<nav id="nav">
  <ul>
    <li><a href="/">about</a></li>
    <li><a href="/">how it works</a></li>
    <li><a href="/">gallery</a></li>
    <li><a href="/">products</a></li>
    <li><a href="/">contact us</a></li>
    <li><a href="/images">GET STARTED</a></li>
    <li><a href="/images">my images</a></li>
    <li><a href="/mosaics">my mosaics</a></li>
  </ul>
</nav>