<div class="container" id="mosaics_new">
  <div class="row">

    <div class="panel panel-default" id="target_select">
      <div class="panel-heading">
        <h2>Step 2: Select your target image</h2>
        <h4><em class="text-muted">this will be the large image that appears in the foreground of your PixelPic</em></h4>
      </div>
      <div class="panel-body" id="target_images_inner">
        <p class="text-primary">pro tip: <em>The lighter the target image, the easier it is to see the background images...</em></p>
        <% @images.each do |image| %>
        <div class="target_image_container" id="<%= image.id %>">
          <%= image_tag(image.file.url, class: "target_image" ) %>
        </div>
        <% end %>
      </div>
      <div class="panel-footer text-right">
        <h4>Once you have selected your target image, click here to go to the next step <p class="btn btn-success disabled" id="btn_step_3">Go To Step 3</p></h4>
      </div>
    </div>

    <div class="panel panel-default shown" id="extra_details">
      <div class="panel-heading">
        <h2>Step 3: Extra Details</h2>
        <h4><em class="text-muted">add a name and choose the size of your PixelPic</em></h4>
      </div>
      <div class="panel-body" id="extra_details_inner">
        <div class="form-group">
          <label class="control-label" for="name_input">Name your PixePic</label>
          <input class="form-control" id="name_input" type="text" placeholder="eg My PixelPic">
        </div>
      </div>
      <div class="panel-footer text-right">
        <h4>Once you have completed the form, click here to create your PixelPic! <p class="btn btn-success" id="btn_create_pixelpic">Make my PixelPic!</p></h4>
      </div>
    </div>
  </div>
</div>
