/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* { 
  box-sizing: border-box
}

a {
  text-decoration: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

#nav {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

#nav ul {
  text-align: center;
}

#nav ul li {
  display: inline-block;
  padding: 10px;
}

.details {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.details .instructions {
  width: 70%;
  padding: 10px;
  float: left;
}

.details .next {
  width: 30%;
  padding: 10px;
  float: left;
  text-align: center;
}

#footer {
  height: 100px;
  margin-top: 20px;
  border-top: 1px solid #dddddd;
}

/* adding a loading image to the display when the mosaic is being processed*/
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
  url('https://s3-eu-west-1.amazonaws.com/pixelpic/ajax-loader.gif') 
  50% 50% 
  no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modal {
  display: block;
}