/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*

*= require bootstrap.css
*= require_self
*= require_tree .
*/




body {
  background-color: #f9ccbc;
  // background-image: url("background.jpg");
  // background-attachment: fixed;

  .navbar {
    height: 50px;

    #nav_logo {
      width: 200px;
      position: relative;
      top: 20px;
      border: 1px solid #bf3e11;
      border-radius: 10px;
    }

  }

  #content-container {
    padding-top: 100px;
    
    h1, h2, h3, h4 {
      // color: #dd4814;
    }
    
    #pages_index {
      #hero-banner {
        img{
          width: 100%;
        }
      }

      #how-it-works {

      }

      #gallery {
        .carousel {
          .carousel-indicators {
            li {
              background-color: #669966;
              border: 1px solid black;
            }
            .active {
              background-color: #FF7600;
            }
          }

          .carousel-inner {
            .carousel-caption {
              margin-bottom: -55px;
            }
            .carousel-caption h3{
              background-color: #dd4814;
              color: white;
              border-radius: 5px;
            }
          }
        }
      }

      #contact-us {

      }

    }

    #images_index {
      #add_images {
        #new_image {
          #btn-pc {
            padding: 0;
            width: 200px;

            label {
              height: 100%;
              width: 100%;
              margin: 0;
              font-size: 25px;
            }

            #image_file {
              visibility: hidden;
              height: 0;
              width: 0;
            }
          }
        }
        #fb-btn {
          padding: 0;
          font-size: 25px;
          width: 200px;
        }
      }

      #uploaded_images {

        #uploaded_images_inner {
          max-height: 500px;
          overflow: scroll;

          .uploaded_image_container {
            float: left;
            height: 100px;
            width: 100px;
            text-align: center;
            background: white;
            border: 5px solid white;

            .uploaded_image {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .image_selected {
            border: 5px solid blue;
          }
        }
      }

      #fb-modal {
        .modal-header {}
        .modal-body {
          #fb_album_select {
          }
          #fb_albums {
            max-height: 500px;
            overflow: scroll;

            .fb_image_container {
              float: left;
              height: 100px;
              width: 100px;
              text-align: center;
              background: grey;
              border: 5px solid white;
              display: none;

              .fb_image {
                max-width: 100%;
                max-height: 100%;
              }
            }
            .album_active {
              display: block;
            }
            .image_selected {
              border: 5px solid blue;
            }
          }
        }
        modal-footer {}
      }

    }

    #mosaics_index {
      #my_mosaics {
        .panel-heading {}
        .panel-body {
          max-height: 500px;
          overflow: scroll;
          
          .mosaic_container {
            img {
              max-width: 200px;
              border: 1px solid black;
            }
          }
        }
        .panel-heading {}
      }
    }

  }

  footer {
    background-color: #dd4814;
    color: #eeeeee;
    .row {
      padding: 10px;
    }
    .btn {
      margin: 10px;
    }
  }

}







// /* adding a loading image to the display when the mosaic is being processed*/
// .modal {
//   display:    none;
//   position:   fixed;
//   z-index:    1000;
//   top:        0;
//   left:       0;
//   height:     100%;
//   width:      100%;
//   background: rgba( 255, 255, 255, .8 ) 
//   url('https://s3-eu-west-1.amazonaws.com/pixelpic/ajax-loader.gif') 
//   50% 50% 
//   no-repeat;
// }

// /* When the body has the loading class, we turn
// the scrollbar off with overflow:hidden */
// body.loading {
//   overflow: hidden;   
// }

// /* Anytime the body has the loading class, our
// modal element will be visible */
// body.loading .modal {
//   display: block;
// }