<div id="upload_fb_images">click here to upload your selected images</div>
<h3>Select an album:</h3>
<select name="" id="fb_album_select">
  <option value="">-------</option>
</select>
<div id="add_album">Select all images in this album</div>