<% if target_image %>
  <%= form_for(target_image) do |f| %>
    <%= render "shared/errors", target: target_image %>
    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <div class="btn btn-primary" id="btn-pc">
      <%= f.label :file, "Computer" %>
      <%= f.file_field :file, multiple: true, name: 'image[file]' %>
    </div>
  <% end %>
<% end %>
